#footer {
	z-index: 2;
	background-color: @gray-dark;
	
	.container {
		color: #fff;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	a {
		color: lighten(@link-color, 15%);
	}
	a:hover, a:focus {
		color: lighten(@link-color, 30%)
	}
}