#main {
	z-index: 1;
	border-top: 4px solid @cloud-white;
	border-bottom: 4px solid @cloud-white;
	background-color: @cloud-white;
	
	#main-container {
		background-color: #fff;
		padding: 30px 20px;
	}
	
	.post-content p {
		font-family: @font-family-serif;
	}
}