#nav-menu {
	font-weight: 300;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		float: left;

		@media only screen and (max-width: 991px) {
			display: block;
			float: none;
			clear: both;
		}

		a {
			display: block;
			padding: 10px 15px;
			color: #fff;
		}
		a:hover, a:focus {
			text-decoration: none;
		}

		ul {
			display: block;
			visibility: hidden;
			padding: 0;
			margin: 0;
			position: absolute;
			z-index: 3;
			background-color: @gray-dark;
			box-shadow: @wide-shadow;
			max-height: 0px;

			li {
				float: none;
				display: block;
				position: relative;

				ul {
					position: absolute;
					left: 100%;
					top: 0;
				}
			}

			li.current-menu-item > a {
				color: @gray-dark;
			}


		}
	}

	li:hover > ul {
		visibility: visible;
		max-height: 600px;
		.transition(max-height 0.5s linear);
	}

	li:not(.current-menu-item):hover > a {
		background-color: rgba(255,255,255,.5) !important;
		.appear-transition;
	}

	li:not(.current-menu-item) > a:active {
		background-color: @gray-dark !important;
	}

	li.current-menu-item > a {
		color: @primary-color;
		background-color: @cloud-white;
		box-shadow: @wide-shadow;
	}
}